html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.snooker-table-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.snooker-table {
	height: 100%;
	width: 100%;
	position: relative;
}

.pocket {
	width: 4%;
	height: 7%;
	background-color: brown;
	border-radius: 10px;
	position: absolute;
}

.top-left {
	top: 0;
	left: 0;
}

.top-center {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.top-right {
	top: 0;
	right: 0;
}

.bottom-left {
	left: 0;
	bottom: 0;
}

.bottom-center {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.bottom-right {
	right: 0;
	bottom: 0;
}

.green {
	background-color: green;
	width: 96%;
	height: 93%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
}

.pocket-black {
	position: absolute;
	width: 3%;
	height: 5.5%;
	background-color: black;
	border-radius: 50%;
	z-index: 4;
}

.b-top-left {
	top: 1%;
	left: 0.5%;
}

.b-top-center {
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	height: 3%;
}

.b-top-right {
	top: 1%;
	right: 0.5%;
}

.b-bottom-left {
	left: 0.5%;
	bottom: 1%;
}

.b-bottom-center {
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
	height: 3%;
}

.b-bottom-right {
	right: 0.5%;
	bottom: 1%;
}

.border-brown {
	background-color: #b33c00;
	width: 2%;
	height: 93%;
	position: absolute;
	z-index: -1;
}

.border-brown.left {
	top: 3%;
	left: 0;
}

.border-brown.right {
	top: 3%;
	right: 0;
}

.horizontal {
	width: 48%;
	height: 6%;
}

.horizontal.left-top {
	top: 0;
	left: 3%;
}

.horizontal.right-top {
	top: 0;
	right: 3%;
}

.horizontal.left-bottom {
	bottom: 0;
	left: 3%;
}

.horizontal.right-bottom {
	bottom: 0;
	right: 3%;
}


.border-green {
	background-color: #006600;
	width: 1%;
	height: 86.8%;
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	border-radius: 0px 20px 20px 3px;
}

.border-green-left {
	top: 6.5%;
	left: 2%;
} 

.border-green-right {
	top: 6.5%;
  right: 2%;
  transform: rotate(180deg);
}

.border-green-horizontal {
	background-color: #006600;
	height: 1.6%;
  width: 45.3%;
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	border-radius: 20px 20px 0 0;
}

.border-green-left-top {
	top: 3.5%;
	left: 3.5%;
	transform: rotate(180deg);
}

.border-green-left-bottom {
	bottom: 3.5%;
	left: 3.5%;
}

.border-green-right-top {
	top: 3.5%;
  right: 3.5%;
  transform: rotate(180deg);
}

.border-green-right-bottom {
	bottom: 3.5%;
	right: 3.5%;

}

.white-divider {
	height: 89%;
  width: 0.1%;
  background-color: white;
  position: absolute;
  left: 24%;
  top: 5.5%;
  z-index: 2;
}

.white-half-round {
	width: 19%;
  width: 19%;
  height: 38%;
  border: 1px solid white;
  position: absolute;
  z-index: 2;
  border-radius: 100% 0 0 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
}

.dot {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: white;
	z-index: 2;
}

.dot-yellow {
	top: 68.8%;
  left: 23.9%;
}

.dot-green-ball {
	top: 30.8%;
  left: 23.9%;
}

.dot-brown {
  top: 49%;
  left: 23.9%;
}

.dot-blue {
	top: 49%;
  left: 49.8%;
}

.dot-pink {
	top: 49%;
  left: 70.8%;
}

.dot-black {
  top: 49%;
  left: 90.8%;
}

.ball {
	position: absolute;
	z-index: 3;
	width: 1.7%;
	height: 3%;
	border-radius: 100%;
}

#white {
	background-color: white;
  top: 82%;
  /*right: 72%;*/
  left: 26%;
}

#yellow {
	background-color: yellow;
  top: 67.4%;
  left: 23%;
}

#green-ball {
	background-color: #003300;
  top: 29.7%;
  left: 23%;
}

#brown {
	background-color: #4d1a00;
	top: 47.4%;
	left: 23%;
}

#blue {
	background-color: blue;
	top: 47.4%;
	left: 49%;
}

#pink {
	background-color: #ff3399;
	top: 47.4%;
	left: 70%;
}

#black {
	background-color: black;
	top: 47.4%;
	left: 90%;
}

.page {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	color: white;
	padding-top: 15%;
	font-family: Baskerville Old Face, serif;
	color: white;
}

.text-wrapper {
	position: absolute;
	right: 8%;
	width: 40%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	color: red;
	font-size: 1.2em;
	text-indent: 15px;
}

.page4, .page5, .page6 {
	left: 0;
}

.page1 {
	margin-top: -10%;
}

.page2 {
	margin-top: 10%;
}

.figure-img-start-pos {
	width: 300px;
	height: 300px;
	float: right;
}

.img-start-pos {
	width: 300px;
	height: 300px;
	float: right;
}

.figure-img-students {
	width: 300px;
	height: 300px;
	float: right;
}

.img-students {
	width: 300px;
	height: 200px;
	float: right;
}

.img-table {
	width: 200px;
	height: 400px;
	float: left;
}

.figure-img-snooker {
	width: 300px;
	height: 350px;
	float: left;
}

.img-snooker {
	width: 300px;
	height: 300px;
	float: left;
}

figcaption {
	background-color: white;
}

.figure-img-chulk {
	width: 200px;
	height: 280px;
	float: left;
}

.img-chulk {
	width: 200px;
	height: 200px;
	float: left;
}

span {
	font-size: 1.5em;
}

#dots {
	position: fixed;
	z-index: 999;
	padding: 0;
	left: 50%;
	transform: translateX(-50%);
	top: 85%;
}

#dots li {
	position: relative;
	list-style-type: none;
	display: inline-block;
}

#dots li a {
	display: inline-block;
	border: 3px solid white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 20px;
}

.active {
	background-color: white;
}

#dots h1 {
	background: white;
	position: absolute;
	margin: 0;
	left: -50%;
	padding: 3px;
	top: -40px;
	border-radius: 2px;
	display: none;
}

#dots li:hover>h1 {
	display: block;
}


/*/// Too many balls for now)) ///*/

/*.red {
	background-color: red;
}

.red1 {
	top: 43.4%;
	right: 25.8%;
}

.red2 {
	top: 41.3%;
  right: 24%;
}

.red3 {
	top: 45.5%;
  right: 24%;
}

.red4 {
	top: 43.4%;
  right: 22.2%;
}

.red5 {
	top: 39.25%;
  right: 22.2%;
}

.red6 {
	top: 47.55%;
  right: 22.2%;
}

.red7 {
	top: 41.3%;
	right: 20.4%;
}

.red8 {
	top: 45.5%;
	right: 20.4%;
}

.red9 {
	top: 43.4%;
	right: 18.6%;
}

.red10 {
	top: 37%;
	right: 20.4%;
}

.red11 {
	top: 49.8%;
	right: 20.4%;
}

.red12 {
	top: 47.7%;
	right: 18.6%;
}

.red13 {
	top: 52%;
	right: 18.6%;
}

.red14 {
	top: 39.2%;;
	right: 18.6%;
}

.red15 {
	top: 35%;;
	right: 18.6%;
}*/